*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(135deg,#ffb6c1,#ffc0cb);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.card{
    background:white;
    width:380px;
    padding:25px;
    border-radius:20px;
    box-shadow:0 0 25px rgba(0,0,0,.2);
    text-align:center;
}

h1{
    color:#ff4081;
    margin-bottom:15px;
}

.romantic-img{
    width:100%;
    border-radius:15px;
    margin-bottom:20px;
}

.buttons{
    position:relative;
    height:120px;
}

button{
    border:none;
    padding:12px 25px;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

#yesBtn{
    background:#ff4081;
    color:white;
}

#noBtn{
    background:#777;
    color:white;
    position:absolute;
    left:200px;
}

#result{
    margin-top:20px;
    font-size:22px;
    color:#ff4081;
    font-weight:bold;
}

.heart{
    position:absolute;
    animation:float 5s linear forwards;
}

@keyframes float{
    from{
        transform:translateY(0);
        opacity:1;
    }

    to{
        transform:translateY(-100vh);
        opacity:0;
    }
}
